<h1>Scissor-Paper-Rock Rules!</h1>
<p>Each player forms one of three shapes with a hand:</p>
<nav>
<ul>
SCISSORS ✌️
PAPER ✋
ROCK ✊
</ul>
</nav>
<p>The game has only two possible outcomes other than a tie.</p> 
<p>Rock will beat scissors</p>
<p>Rock will lose to paper</p>
<p>Paper will lose to scissors</p>
<h2>Give it a try!</h2>

