<!doctype html>
<html lang='en'>
<head>
  <meta chorset="UTF-8">
  <title>Scissors-Paper-Rock hand game!</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<body background="https://www.dramafever.com/st/news/images/cheater1.jpg"> 
  <nav>
    <ul>
    <a href="/">Home</a>
    </ul>
  </nav>
  <%= yield %> 
</body>
</html>


