@import url('https://fonts.googleapis.com/css?family=Galindo');

div {
  background-image: url("cheater1.jpg");
}

body {
  font-family: "Galindo";
  font-size: 22px;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #E9DEFF;
}





